node_modules
.env    
.next
prisma/migrations
.env.local
.DS_Store   
.cursorrules
.cursorignore
.cursorignore.local
.cursorignore.local.example
.cursorignore.local.example.example
.cursorignore.local.example.example.example
.cursorignore.local.example.example.example.example
.cursorignore.local.example.example.example.example.example
.cursorignore.local.example.example.example.example.example.example
.cursorignore.local.example.example.example.example.example.example.example


index.html